---
import { ContactForm } from "../components/ContactForm";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Esalu Portfolio - Web developer and music composer" desc="Esalu is a web developer and music composer from Mexico. He is passionate about creating beautiful and harmonious things.">
   <div style="background-color: #0e1212;
	opacity: 1;
	background-image:  radial-gradient(#3B4B4B 0.8500000000000001px, transparent 0.8500000000000001px), radial-gradient(#3B4B4B 0.8500000000000001px, #0e1212 0.8500000000000001px);
	background-size: 34px 34px;
	background-position: 0 0,17px 17px;">

   <ContactForm client:visible/>
   
   </div>


 
</Layout>