---
interface Props{
   link: string
}

const { link } = Astro.props
---


<a href={link} target="_blank" rel="noreferrer"  class="cursor-pointer relative inline-flex items-center p-3 text-sm font-medium text-center text-white bg-woodsmoke-800 rounded-md hover:bg-woodsmoke-900 active:bg-woodsmoke-700 transition-colors duration-75">
   <slot/>
</a>
   