---
export interface Props {
   class: string
}
const { class: className } = Astro.props
---
<span class={`border bg-opacity-30 font-Onest text-nowrap text-xs me-2 px-2.5 py-0.5 my-1 rounded-xl ${className}`}><slot/></span>
