<footer class="bg-woodsmoke-dark-500 rounded-lg shadow m-4 font-Onest">
   <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
     <span class="text-sm text-gray-100 sm:text-center ">2024 Emilio Salas Luján. <3.
   </span>
   <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
       <li>
           <a href="mailto:esalu88@outlook.com" class="hover:underline me-4 md:me-6">Mail</a>
       </li>
       <li>
           <a href="/contact" class="hover:underline">Contact</a>
       </li>
   </ul>
   </div>
</footer>
