---
import HeaderIcon from "../components/HeaderIcon.astro";
---

<header class="flex justify-between items-center mx-10">
   
   <img src="avatar.webp" alt="esalu photo" class="rounded-full size-10">
   <nav class="hidden sm:block">
      <ul class="flex gap-6 text-sm">
         <li><a href="#experience" class="hover:underline">Experience</a></li>
         <li><a href="#projects" class="hover:underline">Projects</a></li>
         <li><a href="#music" class="font-Onest italic tracking-wide hover:underline">Music</a></li>
         <li><a href="/contact" class="hover:underline font-semibold">Contact</a></li>
      </ul>
   </nav>
   <div class="sm:hidden">
      <button><HeaderIcon/></button>
   </div>
</header>