<header class="flex justify-between items-center">
   <img src="avatar.webp" alt="esalu photo" class="rounded-full size-10">
   <nav>
      <ul class="flex gap-6 text-sm">
         <li><a href="#">Home</a></li>
         <li><a href="#experience">Experience</a></li>
         <li><a href="#projects">Projects</a></li>
         <li><a href="#music" class="font-Onest italic tracking-wide">Music</a></li>
         <li><a href="">Contact</a></li>
      </ul>
   </nav>
</header>