---
import '@fontsource/space-mono'
import '@fontsource/space-mono/700.css'
import '@fontsource/onest'
import { ViewTransitions } from 'astro:transitions'
import SEO from '../seo/SEO.astro'

interface Props {
	title: string;
	desc: string;
}

const { title, desc } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={desc} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<SEO/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root{
		color-scheme: light dark;
	}
	html {
		font-family: 'Space Mono', monospace;
		font-size: 16px;
		scroll-behavior: smooth;
	}
	body{
		background: #0e1212;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
